<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javadoge.blog.mapper.TestMapper">
	<!-- 获取文章分类信息 -->
	<select id="queryArticleCategory" resultType="map">
		select
		article_category_id,article_category_name,article_category_total
		from article_category where article_category_is_delete = 0
	</select>

</mapper>

